*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
::-webkit-scrollbar{
    display: none;
}
body{
    background: #2A2A2A;
}
nav{
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 24px -1px #000000 25% inset;
    border: 2px solid white;
    backdrop-filter: blur(30px);
    z-index: 10;
    height: auto;
    width: 100%;
}
.logo{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    width: 19%;
    height: 100%;
}
.logo p{
    color: white;
    font-size: 5rem;
    font-weight: 600;
}
.vector{
    /* check height */
    height: 100px;
    left: 1279px;
    top: 7px;
    border-left: 2px solid white;
}
.navlist{
    width: 40%;
    align-self: flex-end;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.navlist ul{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
.navlist a{
    color: white;
    text-decoration: none;
}
.navlist li{
    transition: all 0.1s ease-in ;
}
.navlist li:hover{
    font-weight: 600;
    transform: scale(1.1);
}
.container {
    position: absolute;
    bottom: 5%;
    left: 15%;
    width: 70%;
    height: 70vh;
    z-index: 10;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.msg-display {
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* not working even when webkit-scrollbar is none*/
    overflow: auto;
}
.msg-bubble {
    background-color: white;
    width:100%;
    border-radius: 10px;
    min-height: 35px;
    margin: 1.5px 0px;
    padding: 5px 10px;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-end;
}
.content {
    width: 90%;
    height: 100%;
}
.name-tag{
    width:10%;
    height: 50%;
    font-size: 0.75em;
    text-align: end;
}
.msg-send {
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}
#msgbox{
    width: 95%;
    height: 90%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
}
#msgbox:focus{
    outline:none;
}
#send{
    width: 9%;
    height: 90%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.circle-top{
    height: 300px;
    width: 300px;
    margin: -4% 3% auto auto;
    border-radius: 100%;
    background: linear-gradient(217.72deg, #CD16BB 14.07%, rgba(255, 255, 255, 0) 91.11%),
    linear-gradient(0deg, #7646FF, #7646FF);
    z-index: -1;
}
.circle-bottom{
    position: absolute;
    height: 300px;
    width: 300px;
    bottom: -20%;
    left: 10%;
    border-radius: 100%;
    background: linear-gradient(217.72deg, #CD16BB 14.07%, rgba(255, 255, 255, 0) 91.11%),
    linear-gradient(0deg, #7646FF, #7646FF);
    z-index: -1;
}
.triangle{
    position: absolute;
    left: 3%;
}

